.card {
    width: 100%;
    min-width: 150px;
    max-width: 220px;
    height: 110px;
    position: relative;
    border-radius: 0.7rem;
}
.parent-card{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.7rem;
    border: 3px solid #d3d3d3;
}

.parent-card-selected{
    border: 3px solid #4a39e2;
}

.child-card{
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    background-color: #d3d3d35e;
    span{
       color: black;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.svg-icon{
    left: -15px;
    top: -15px;
    position: absolute;
    width:30px; 
    height:30px; 
}

.svg-middle-icon {
    position: absolute;
    // left: calc(50% - 27px);
    // top: calc(50% - 28px);
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    width: 27px; 
    height: 28px; 
}

.child-right-card{
    width: 100%;
    height: 100%;
    border: 2px solid #d3d3d3;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-width: 0;
    border-right-width: 0;
    background-color: white;
    // flex box magic
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span{
        color:gray;
        font-size: 80%;
    }
    span.span-checkpoint-timer{
        font-weight: 900;
        color: black;
        font-size: 100%;
        font-family: sans-serif;
    }
}

div.child-right-bottom-card{
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
        color:gray;
        font-size: 80%;
        margin-top: -3px;
    }
    span.span-total-timer{
        font-weight: 900;
        color: black;
        font-size: 100%;
        font-family: sans-serif;
    }
}


.child-bottom-card{
    span{
        color:#564f4f;
    }
}

.child-right-card-transport{
    border: 2px solid red ;
    background-color: #FDEDEF;
}
.child-right-card-cart{
    border: 2px solid green;
}

// new styles
.a-svg-middle-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: 0.87);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 110px;
    border-radius: 0.7rem;
    border: 3px solid #F65326;
}