
<div class="card" >
  <div class="parent-card">
    <div class="child-card">
      <div>
        <span>#{{roomNumber}}</span>
      </div>
      <div
        class="child-right-card">
        <div><span>----</span></div>
        <span class="span-checkpoint-timer"> {{trayCheckpointName}} </span>
      </div>
      <div class="child-bottom-card">
        <span>#{{ticketNumber}}</span>
      </div>
      <div class="child-right-bottom-card">
        <span class="span-total-timer">  {{ticketName}}  </span>
        <div> <span>Total</span></div>
      </div>
    </div>
  
  </div>
</div>