<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="trays-grid-container">
    <ng-container *ngFor="let tray of traysList$ | async ">
      <app-card [ticketName]="tray.name" [roomNumber]="tray.roomNumber" [ticketNumber]="tray.id" [trayCheckpointName]="tray.trayCheckpointName"></app-card>
    </ng-container>
  </div>
</ion-content>
